@import "styles/globals";

.devbar {
    width: $app-width;
    color: $white;
    display: block;
    font-size: 22px;
    text-align: left;
    height: 60px;
    transition: bottom .3s ease;
    background: $black;
    z-index: 9;
}
