@import "styles/common/globals";

.start {
    font-size: 28px;
}
.grid {
    height: 420px;
    padding-top: 8px;
    z-index: 0;
    transition: transform .3s ease;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex: 1 1 auto;
}

:global .product-enter {
    transform: scale(0);
    &.product-enter-active {
        transform: scale(1);
        transition: transform .3s ease;
    }
}

:global .product-leave {
    transform: scale(1);
    &.product-leave-active {
        transform: scale(0);
        transition: transform .3s ease;
    }
}
