.alert {
    background-image: radial-gradient(ellipse farthest-corner at center, #d32f2f 0%, #9a0007 100%);
    background-image: radial-gradient(ellipse farthest-corner at center, #b4f62c 0%, #79ae1f 100%);
    color: #fff;
    text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.6);

    .icon {
        font-size: 64px;
    }

    .title {
        font-size: 32px;
        font-weight: bold;
    }

    .msg {
        font-size: 24px;
        text-shadow: 0px 0px 10px rgba(150, 150, 150, 1);
    }
}
