.fillScreen {
    width: 100%;
    height: 100%;
}

.rootContainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
