.product {
    position: relative;
    background: $white;
    overflow: hidden;
    width: $product-width;
    height: $product-height;
    margin: 0 0 8px 8px;
    &.failed {
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .loading {
        width: 100%;
        height: $product-height;
        background: none;
        top: 0;
        left: 0;
        right: 0;
        line-height: $product-height;
        margin: 0;
        div {
            background: $black;
        }
    }
    > div:not(.loading) {
        font-size: 20px;
        line-height: 18px;
        font-weight: 600;
        position: absolute;
        &.overlay {
            background: rgba(152, 219, 89, 0.5);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
        }
        &.quantity {
            text-align: left;
            left: 0;
            bottom: 0;
            padding: 10px;
            z-index: 100;
        }
        &.price {
            text-align: right;
            right: 0;
            bottom: 0;
            padding: 10px;
            z-index: 100;
        }
        &.name {
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            padding: 10px;
            z-index: 100;
        }
        &.image {
            text-align: center;
            background: $white;
            position: absolute;
            top: 22%;
            left: 22%;
            right: 22%;
            bottom: 22%;
            line-height: 198px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &.image img {
            max-height: 125px;
            max-width: 190px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
