@import "styles/common/globals";

.container {
    width: 100%;
}
.products {
    display: flex;
    flex-wrap: wrap;
}
.bar {
    color: $white;
    display: block;
    font-size: 22px;
    text-align: left;
    height: 60px;
    transition: bottom .3s ease;
    background: $black;
    z-index: 9;
    &.active {
        opacity: 1;
    }
    .total {
        border-left: 2px solid $grey-dark;
        flex: 0 0 50%;
        text-align: right;
        width: 100%;
        align-content: right;
    }
    .name {
        flex: 0 0 50%;
    }
    &.notCompleted i{
        animation: rotating 2s linear infinite;
    }
}
